/* This is just something basic, the final developer 
should use their own matching the apps style */

* {
  padding: 0; margin: 0;
  overflow: none;
}

.container {
  padding: .2em;
  cursor: pointer;
  user-select: none;
  border: 0.2em solid #990000;
  border-radius: 0.5rem;
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container > div {
  padding: 1em;
  border-radius: 0.2rem;
}
.container > div:hover {
  background-color: #990000;
  color: white;
  font-weight: bold;
}

hr {
  color: darkgray;
}

#quit {
  color: darkgray;
}